{{ define "Index" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <h1>Store</h1>
    <table>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </table>
    <tbody>
        <tr>
            <td>Shirt</td>
            <td>Nice</td>
            <td>29</td>
            <td>10</td>
        </tr>
    </tbody>
</body>
</html>
{{ end }}